<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sección registro</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <h2>Editing user <%=UserToEdit.name%> </h2>
    <form method="POST" action="/user/edit?_method=PUT">
        <label for="">Nombre</label>
        <input type="text" name="nombre" value="<%=UserToEdit.name%>">
        <br>
        <input type="submit" value="Editar">
        
    </form>
</body>
</html>